<%= form_for @user do |f| %>
<table>
  <tr>
    <td><%= f.label :first_name %></td>
    <td><%= f.text_field :first_name %></td>
  <tr>
    <td><%= f.label :last_name %></td>
    <td><%= f.text_field :last_name %></td>
  </tr>
  <tr>
    <td><%= f.label :phone %></td>
    <td><%= f.text_field :phone %></td>
  </tr>
  <tr>
    <td><%= f.label :email %></td>
    <td><%= f.text_field :email %></td>
  </tr>
</table>
<%= f.submit %>
<% end %>


<%= link_to "Back", users_path %>

