<h1>Create a new User</h1>
<p>For now first name and last name<p>
<!-- lbelater render "form" % will replace this below later-->
<%= form_for @user do |f| %>
  <%= f.label :first_name %>:
  <%= f.text_field :first_name %><br />

  <%= f.label :last_name %>:
  <%= f.text_field :last_name %><br />

  <%= f.submit %>
<% end %>
