<h1>Showing User: <%= @user.last_name %></h1>
<% flash.each do |key, value| %>
  <em>
    <%= key %>:
    <%= value %>
  </em>
<% end %>
<table>
  <tr>
    <td>First Name</td>
    <td><%= @user.first_name %></td>
  <tr>
    <td>Last Name</td>
    <td><%= @user.last_name %></td>
  </tr>
  <tr>
    <td>Phone</td>
    <td><%= @user.phone %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @user.email %></td>
  </tr>
</table>
</br>
<%= link_to "Back", users_path %>

